*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 440px ;
    background-color: rgb(43, 43, 43);
}

.Contenaire1 {
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    width: 100%;
    border-radius: 20px;
    border: 10px rgb(14, 14, 14);
}

.Pseudo {
    background-color: rgb(26, 26, 26);
    background: transparent;
    color: white;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red solid;
}

.box2 {
    display: flex;
    justify-content: center;
    column-width: 10em;
    padding: 10px 0px 10px 0px;
    color: white;
}

.Description {
    color: white;
    width: 50%;
}