*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 273px;
    background: url(./img/Background.jpg);
}

.Audio {
    position: absolute;
    top: 850px;
    box-shadow: 0px 0px 20px 5px rgb(0, 140, 255);
    border-radius: 100px;
}

.Contenaire0 {    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Logo {
    width: 15%;
    border-radius: 100px;
    box-shadow: 0px 0px 20px 5px rgb(0, 140, 255);
    z-index: 2;
}

.Contenaire1 {
    padding: 70px 0 20px 0;
    border-radius: 15px;
    background-color: rgb(12, 12, 12);
    border: 10px rgb(6, 6, 6);
    width: 700px;
    box-shadow: 0px 0px 20px 5px rgb(0, 140, 255);
    margin-top: -70px;
    z-index: 1;
    opacity: 90%;
}

.YoutubeIcon {
    position: relative;
    background-color: rgb(12, 12, 12);
    border: 10px rgb(6, 6, 6);
    top: -65px;
    left: 5px;
    height: 0px;
    width: 40px;
    cursor: pointer;
}

.Icon {
    width: 100%;
    border-radius: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pseudo {
    background: transparent;
    color: white;
    text-shadow: 4px 4px 1px  black;
}

.box2 {
    padding: 20px 0px 10px 0px;
    color: white;
    text-align: center;
}

.Description {
    color: white;
    width: 70%;
}